$thresholdwidth: 48em;
$sidebarwidth: 200px;
/*
$background-color-light:#9cf; 
$background-color-dark: #246;
$font-color-light: #9cf;
$font-color-dark: #246;
*/

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=Orbitron:wght@900&display=swap');*/

/*:root {
    --light-theme-color: hsl(var(--base-hue), var(--base-saturation), 90%);
    --dark-theme-color: hsl(var(--base-hue), var(--base-saturation), 10%);
    --dark-font-color: hsl(0, 0, 10%);
    --light-font-color: hsl(0, 0, 90%);
}*/



  :root {
    --background-color: hsl(var(--base-hue), var(--base-saturation), 20%);
    --font-color: hsl(0, 0%, 80%);
    --hover-color: hsl(0, 0%, 60%);
    --header-background-color: hsl(var(--base-hue), var(--base-saturation), 10%);
    --header-font-color: hsl(0, 0%, 90%);
    --header-hover-color: hsl(0, 0%, 70%);
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(var(--base-hue), var(--base-saturation), 90%);
    --color: hsl(0, 0%, 10%);    
    --hover-color: hsl(0, 0%, 20%);
    --header-background-color: hsl(var(--base-hue), var(--base-saturation), 20%);
    --header-font-color: hsl(0, 0%, 80%);
    --header-hover-color: hsl(0, 0%, 60%);

  }
}


body{
  font-family: var(--font-family);
  min-height: 100vh;
  /*font-family: 'Noto Serif JP', serif;*/
  color: var(--font-color);
  background-color: var(--background-color);
  
  margin: 0;
  a {
    color: var(--font-color);
  }
  a:hover, a:focus{
    color: var(--hover-color);
  }
}


.sidebar {
  /*
  font-family: 'Noto Sans JP', sans-serif;
  background-color: $background-color-dark;
  color: rgba(255, 255, 255, 0.7);
  */
  font-family: var(--header-font-family);
  color: var(--header-font-color);
  background-color: var(--header-background-color);

  .site-title{
    font-family: var(--title-font-family);
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    a, a:hover, a:focus{
      color: inherit;
      text-decoration: inherit;
    }
  }
  .cat-links{
    li{
      a{
        border-top: solid 1px --font-color;
        border-bottom: solid 1px --font-color;
      }
    }
  }
}


nav.sidebar {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
footer {
  margin: 0;
  padding-top: 1em;
}

.tag-links, .cat-links, .nav-links, .lang-links{
  list-style: none;
  a {
    text-decoration: none;
  }
}
.tag-links, .content .cat-links, .nav-links, .lang-links{
  a{
    display: block;
    /*background-color: $background-color-dark;*/
    padding: 0.2em;
    margin: 0.1em;
    border-radius: 0.2em;
  }
  a:hover, a:focus{
    opacity: 0.7;
  }
  li {
    display: inline-block;

  }
}

@media (max-width: $thresholdwidth) {
  //#sp-menu.hidden{
  //  display: none;
  //}
  
}

@media (min-width: $thresholdwidth) {
  html {
    font-size: 16px;
  }
  main {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
  .site {
    min-height: 100vh;
    display: grid;
    grid-template-columns: $sidebarwidth 1fr;
    grid-template-rows: auto 1fr auto;
    header.sidebar{
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    nav.sidebar {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    footer.sidebar {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }

}
