
$breakpoint: 938px;
$sidebarWidthMin: 275px;
$sidebarWidthMax: 423px;
$mainWidthMin: 24rem;
$mainWidthMax: 40rem;

@media (min-width: $breakpoint) {
    @import "pc";
}
@media (max-width: $breakpoint) {
    @import "sp";
}
:root{
    min-height: 100vh;
}
@import "sidebar";
nav.sidebar {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
@import "main";
