
$breakpoint: 938px;
$sidebarWidthMin: 275px;
$sidebarWidthMax: 423px;
$mainWidthMin: 552px;
$mainWidthMax: 800px;

@media (min-width: $breakpoint) {
    @import "pc";
}
@media (max-width: $breakpoint) {
    @import "sp";
}
:root{
    min-height: 100vh;
}