
html {
  font-size: 16px;
}

.site {
  min-height: 100vh;
  display: grid;
  grid-template-columns: $sidebarWidthMax 1fr;
  grid-template-rows: auto 1fr auto;
  #maincol {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
  header.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  nav.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  footer.sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
.sidebar{
  text-align: right;
  min-width: $sidebarWidthMin;
  max-width: $sidebarWidthMax;
  padding: 1em;
}
#maincol {
  padding: 2em;
}
main {
  max-width: $mainWidthMax;
  min-width: $mainWidthMin;
}

