:root {
    --pale-saturation: calc(var(--base-saturation) / 10 );
    --header-background-color: hsl(var(--base-hue), var(--base-saturation), 20%);
    --header-color: hsl(var(--base-hue), var(--pale-saturation), 80%);
    --header-hover-color: hsl(var(--base-hue), var(--pale-saturation), 60%);
}

@media (prefers-color-scheme: light){

    :root {
        --background-color: hsl(var(--base-hue), var(--pale-saturation), 80%);
        --color: hsl(var(--base-hue), var(--pale-saturation), 20%);
        --hover-color: hsl(var(--base-hue), var(--pale-saturation), 40%);
    }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(var(--base-hue), var(--pale-saturation), 20%);
    --color: hsl(var(--base-hue), var(--pale-saturation), 80%);    
    --hover-color: hsl(var(--base-hue), var(--pale-saturation), 20%);
//    --header-background-color: hsl(var(--base-hue), var(--base-saturation), 20%);
//    --header-color: hsl(var(--base-hue), var(--pale-saturation), 80%);
//    --header-hover-color: hsl(var(--base-hue), var(--base-saturation), 60%);
  }
}