main{
    font-family: var(--font-family);
    /*font-family: 'Noto Serif JP', serif;*/
    color: var(--color);
    background-color: var(--background-color);
    
    margin: 0;
    a {
        color: var(--font-color);
    }
    a:hover, a:focus{
        color: var(--hover-color);
    }
    .nav-links, .lang-links{
        text-align: center;
    }
    .page-links h3{
        margin-bottom: 0.5em; 
    }
    pre{
        overflow: auto;
    }
}
