{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang={% if lang %}{{lang}}{% elif config.default_language %}{{config.default_language}}{% else %}"en"{% endif %}>
{% if config.description %}
  {% if config.translations[lang].description %}
    {% set description = config.translations[lang].description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{% endif %}
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false)}}">
  <script type="text/javascript">
    window.addEventListener('load', function() {
        for (const ref of document.getElementsByClassName('footnote-reference')) {
            const hash = ref.children[0].hash.substring(1);
            const refhash = 'ref:' + hash;
            ref.id = refhash;
        }

        for (const footnote of document.getElementsByClassName('footnote-definition')) {
            const hash = footnote.id;
            const refhash = 'ref:' + hash;
            const backlink = document.createElement('a');
            backlink.href = '#' + refhash;
            backlink.className = 'footnote-backlink';
            backlink.innerText = '↩';
            const paras = footnote.children;
            const lastPara = paras[paras.length - 1];
            lastPara.appendChild(backlink);
        }
    });
</script>
<style>  
    :root{
      --base-hue: {{config.extra.base_color.hue}};
      --base-saturation: {{config.extra.base_color.saturation}}; 
      --font-family: {{macros::get_extra_configure_by_lang(key="fonts.main", lang=lang) | trim | safe}};
      --header-font-family: {{macros::get_extra_configure_by_lang(key="fonts.sidebar", lang=lang) | trim | safe}};
      --title-font-family: {{macros::get_extra_configure_by_lang(key="fonts.title", lang=lang) | trim | safe}};
    }
   
  </style>
  {% block meta %}
  {% endblock meta %}
  {% set additional_head_key = macros::get_extra_configure_by_lang(key="additional_head", lang=lang, only_key=true)|trim %}
  {% if config[additional_head_key] %}
    {% set additional_heads = config[additional_head_key] %}
    {% for additional_head in additional_heads %}
        {{additional_head | safe}}
    {% endfor %}
  {% endif %}
</head>
<body>
<div class="site">
    {% block header %}
  <header class="sidebar">
    <h2 class="site-title"><a href={{get_url(path="@/_index.md", lang=lang)}}>{{config.title}}</a></h2>
  </header>
  {% endblock header %}
  <div id="maincol">
    <main class="content">
      {% block content %} 
      {% endblock content%}  
    </main>
  </div>
  {% block nav %}
  <nav class="sidebar">
    <div id="sp-menu"class="hidden">

      {% if description %}
        <p class="description">{{ description | safe}}</p>
      {% endif %}
      {% if config.extra.menues.author %}
        <h3>{{ macros::get_extra_configure_by_lang(key="menues.author.label", lang=lang) }}</h3>
        <p>{{ macros::get_extra_configure_by_lang(key="menues.author.name", lang=lang) }}</p>
        <p>{{ macros::get_extra_configure_by_lang(key="menues.author.description", lang=lang) }}</p>
        <ul class="sns-links">
          {% if config.extra.menues.author.twitter %}
            <li class="sns-link"><a href="https://twitter.com/{{config.extra.menues.author.twitter}}" target="_blank">twitter</a></li>
          {% endif %}
          {% if config.extra.menues.author.github %}
          <li class="sns-link"><a href="https://github.com/{{config.extra.menues.author.github}}" target="_blank">github</a></li>
          {% endif %}
        </ul>
      {% endif %}
      {% if config.extra.menues.categories %}
      <h3>{{ macros::get_extra_configure_by_lang(key="menues.categories.label", lang=lang) }}</h3> 
      <ul class="cat-links">
        {{ macros::term_list_items(taxonomy_name="categories", class="cat-link")}}
      </ul>
      {% endif%}
      {% if config.extra.menues.tags %}
      <h3>{{ macros::get_extra_configure_by_lang(key="menues.tags.label", lang=lang) }}</h3> 
      <ul class="tag-links">
        {% if config.extra.menues.tags.max_terms %}
        {{ macros::term_list_items(taxonomy_name="tags", class="tag-link", enable_gradation=true, max_terms=config.extra.menues.tags.max_terms )}}
        {% else %}
        {{ macros::term_list_items(taxonomy_name="tags", class="tag-link", enable_gradation=true )}}
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </nav>
  {% endblock nav %}
  <footer class="sidebar">
    
  {% if config.extra.footer.links %}
    <ul class="footer-links">
      {% set footer_link_key =  macros::get_extra_configure_by_lang(key="footer.links", lang=lang, only_key=true)|trim %}
      {% for footer_link in config[footer_link_key] %}
        <li class="footer-link"><a href="{% if footer_link.url is starting_with('@') %}{{ get_url(path=footer_link.url) }}{% else %}{{ footer_link.url }}{% endif %}">{{ footer_link.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  </footer>
</body>

</html>
