{% extends "base.html" %}
{% if config.description %}
  {% if config.translations[lang].description %}
    {% set description = config.translations[lang].description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{% endif %}
{% block meta %}
<title>{{config.title}}</title>
{% if description %}
  <meta name="description" content="{{ description | safe }}"/>
{% endif %}
{% endblock meta %}
{% block content %}
<h1 class="title">{{ section.title }}</h1>
{% if section.description %}
 <p> {{ section.description }}</p>
{% endif %}
{% set top_sections_key = macros::get_extra_configure_by_lang(key="top.sections",lang=lang, only_key=true) | trim %}
{% set top_sections = config[top_sections_key] %}
{% for top_section in top_sections %}
<h2>{{ top_section.label| trim }}</h2>
{% set current_section = get_section(path=top_section.path) %}
{% set pages = current_section.pages %}
<ul class="page-links">
{% for current_page in pages | slice(end=top_section.paginate_by) %}
  <li class="page-link"><a href="{{current_page.permalink}}">{{ macros::page_summary(page=current_page, hn=3, disable_link=true) }}</a></li>
{% endfor %}
{% if pages | length > top_section.paginate_by  %}
   <p><a href="{{get_url(path=current_section.permalink)}}">read more</a></p>
{% endif %}
{% endfor %}
{% endblock content %}
