{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ section.title }}</h1>
<p> {{ section.description }}</p>
{% if lang == config.default_language %}
{% set top_section_path = config.extra.ash_top_section ~ "_index.md" %}
{% else %}
{% set top_section_path = config.extra.ash_top_section ~ "_index." ~ lang ~ ".md" %}
{% endif %}
{% set top_section = get_section(path=top_section_path) %}
{% set categories = get_taxonomy(kind="categories", lang=lang) %}
      {% if categories %}
      <h2>categories:</h3> 
      <ul class="cat-links">
        {% for category in categories.items %}
        <li>
          <h3><a href="{{ get_taxonomy_url(kind='categories', name=category.name, lang=lang) | safe }}">{{ category.name }}</a></h3>
          {% for p in  category.pages %}
            {{ p }}
          {% endfor %}
          <ul></ul>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
<ul>
  {% for page in top_section.pages %}
  <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>

{% endblock content %}