{% extends "base.html" %}
{% if config.description %}
  {% if config.translations[lang].description %}
    {% set description = config.translations[lang].description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{% endif %}
{% block meta %}
<title>{{config.title}}</title>
{% if description %}
  <meta name="description" content="{{ description | safe }}"/>
{% endif %}
{% endblock meta %}
{% block content %}
<h1 class="title">{{ section.title }}</h1>
{% if section.description %}
 <p> {{ section.description }}</p>
{% endif %}
<h2>{{ macros::get_extra_configure_by_lang(key="top.latest", lang=lang)}}</h2>
{% set top_section_path = macros::get_extra_configure_by_lang(key="top.main_section",lang=lang)|trim %}
{% set top_section = get_section(path=top_section_path) %}
<ul class="page-links">
{% for page in top_section.pages %}
  <li class="page-link"><a href="{{page.permalink}}">{{ macros::page_summary(page=page, hn=3, disable_link=true) }}</a></li>
{% endfor %}


{% endblock content %}