{% macro get_extra_configure_by_lang(config, key, lang) %}
    {% if config.default_language != lang and config.extra.lang[lang][key]  %}
      {{config.extra.lang[lang][key]}}
    {% else %}
      {{config.extra[key]}}
    {% endif %} 
{% endmacro get_extra_configure_by_lang %}

{% macro page_list(page) %}
<h3><a href="{{page.permalink}}">{{ page.title }}</a></h3>
<p>{{ page.description }}</p>
<p>{{ page.date }}</p>
<p>{{ page.updated }}</p>
{% if page.taxonomies.categories %}

{% endif %}
{% endmacro page_list %}

{% macro term_list_in_page(taxonomy, terms, class) %}
  <ul class="{{class}}">
    {% for term in terms %}
      <li><a href="{{ get_taxonomy_url(kind=taxonomy, name=term, lang=lang) | safe }}">{{ term }}</a></li>
    {% endfor %}
  </ul>
{% endmacro term_list_in_page %}

{% macro term_list(taxonomy, class) %}
  <ul class="{{class}}">
    {% for term in taxonomy.items %}
      <li><a href="{{term.permalink}}">{{ term.name }}</a></li>
    {% endfor %}
  </ul>
{% endmacro term_list %}
