{% extends "base.html" %}

{% block content %}
<article>
  {{ macros::page_summary(page=page, hn=1)}}
  <p>{{ page.content | safe }}</p>
</article>
<nav>
  <ul class="nav-links">
    {% if page.later %}
      <li><a href="{{ page.later.permalink }}">&lArr;</a></li>
    {% endif %}
     &frasl; 
    {% if page.earlier %}
      <li><a href="{{ page.earlier.permalink }}">&rArr;</a></li>
    {% endif %}
  </ul>
</nav>
<nav>
  {% if page.translations %}
    <ul class="lang-links">
      {% for translation in page.translations %}
        {% if translation.lang %}
          <li><a href="{{ translation.permalink }}">{{ translation.lang }}</a></li>
        {% else %}
          <li><a href="{{ translation.permalink }}">{{ config.default_language }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</nav>
{% endblock content %}
