{% extends "base.html" %}
{% block meta %}
<title>{{ section.title ~ " - " ~ config.title}}</title>
{% if section.description %}
  <meta name="description" content="{{ section.description | safe }}"/>
{% endif %}
{% endblock meta %}
{% block content %}
<h1 class="title">{{ section.title }}</h1>
{% if paginator %}
  {% set pages = paginator.pages %}
{% else %}
  {% set pages = section.pages %}
{% endif %}

<ul class="page-links">
    {% for page in pages %}
        <li class="page-link"><a href="{{page.permalink}}">{{ macros::page_summary(page=page, hn=2, disable_link=true) }}</a></li>
    {% endfor %}
</ul>
{% if paginator %}
<p class="nav-links">
    <span><a href="{{ paginator.first}}">&lt;&lt;</a></span>
    <span>{% if paginator.previous %}<a href="{{paginator.previous}}">&lt;</a>{% else %}&lt;{% endif%}</span>
    {{ paginator.current_index }} / {{ paginator.number_pagers }}
    <span>{% if paginator.next %}<a href="{{paginator.next}}">&gt;</a>{% else %}&gt;{% endif%}</span>
    <span><a href="{{ paginator.last }}">&gt;&gt;</a></span>
</p>
{% endif %}
{% endblock content %}
